{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react"
    ],
    "env": {
        "production": {
            "presets": ["env", "react"]
        },
        "test": {
            "presets": ["env", "react"]
        }
    }
}