{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": ["syntax-class-properties", "transform-class-properties"],
  "env": {
    "production": {
      "presets": ["env", "react"],
      "plugins": ["syntax-class-properties", "transform-class-properties"]
    }
  }
}
